<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something went wrong from our side</h1>
    <p>We are looking into the issue</p>

<%- include('includes/end.ejs') %>